body {
    background-color: #f0f0f0;
}

.container {
    width: 900px;
    height: auto;
    margin: 10px auto;
    text-align: center;
}

.input-note {
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.display-note {
    width: 500px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.display-note h2 {
    display: inline;;
}

.error {
    color: red;
}

.success {
    color: green;
}